body {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right bottom, #1d074e, #17093f, #140831, #100422, #070114);
	color: white;
}

input:not(:placeholder-shown),
input:focus-visible {
	outline: none;
	transform: translate(0.5rem, -0.6rem);
}
